<div class="section"> <h1>Card Event</h1></div>

<div class="container">
  <div class="row">
      <div class= "col">
        <div class="card mb-3">
          <h3 class="card-header">Movie Night</h3>
          <div class="card-body">
            <h5 class="card-title">Star Wars</h5>
            <h6 class="card-subtitle text-muted">UGC, Bercy</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('starwars.png')%>; alt="Card image">
          <div class="card-body">
            <p class="card-text">A long time ago in a galaxy far far away...</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">25/02/2020</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Detail</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class= "col">
        <div class="card mb-3">
          <h3 class="card-header">Afterwork</h3>
          <div class="card-body">
            <h5 class="card-title">Fin de THP</h5>
            <h6 class="card-subtitle text-muted">La Felicita, Paris</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('beer.jpg')%>; alt="Card image">
          <div class="card-body">
            <p class="card-text">Beer Beer Beer.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">26/03/2020</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Detail</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class= "col">
        <div class="card mb-3">
          <h3 class="card-header">Concert</h3>
          <div class="card-body">
            <h5 class="card-title">Johnny Halliday</h5>
            <h6 class="card-subtitle text-muted">Stade de France</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src= <%= asset_path('johnny.jpg')%>; alt="Card image">
          <div class="card-body">
            <p class="card-text">Le come back inattendu...</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">14/04/2020</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Detail</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

  </div>
</div>

<div class="section"> <h1>Card User</h1></div>

<div class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">User</h6>
        <div class="media text-muted pt-3">
          <img src= <%= asset_path('lion.jpg')%>; alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Leo</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img src= <%= asset_path('goat.jpg')%>; alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Mr Seguin</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img src= <%= asset_path('hibou.jpg')%>; alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Woot</strong>
              <a href="#">Follow</a>
            </div>
            <span class="d-block">@username</span>
          </div>
        </div>

      </div>
  </div>


<div class="section"> <h1>Card City</h1></div>

<div class="container">
  <div class="row">

    <div class= "col">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Strasbourg</div>
        <div class="card-body">
          <h4 class="card-title">3 events</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
      </div>
    </div>

     <div class= "col">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Paris</div>
        <div class="card-body">
          <h4 class="card-title">42 events</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
      </div>
    </div>

     <div class= "col">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Bordeaux</div>
        <div class="card-body">
          <h4 class="card-title">5 events</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
      </div>
    </div>



  </div>
</div>


